<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="GameInEntities" connectionString="metadata=res://*/ToGetDate.csdl|res://*/ToGetDate.ssdl|res://*/ToGetDate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MyInstance;initial catalog=GameIn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameInEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MyInstance;initial catalog=GameIn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameInEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\MyInstance;initial catalog=GameIn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LinkToTheDBContainer" connectionString="metadata=res://*/LinkToTheDB.csdl|res://*/LinkToTheDB.ssdl|res://*/LinkToTheDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MyInstance;initial catalog=GameLogInfo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GameLogInfoEntities" connectionString="metadata=res://*/LinkTo.csdl|res://*/LinkTo.ssdl|res://*/LinkTo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\MyInstance;initial catalog=RpgGaming;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RpgGamingEntities" connectionString="metadata=res://*/LinkRPG.csdl|res://*/LinkRPG.ssdl|res://*/LinkRPG.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\MyInstance;initial catalog=RpgGaming;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>