@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>Event:</p>
<div>@Html.ActionLink("Manage Events","index" ,"Event")</div>
<p>Person:</p>
<div>
    @Html.ActionLink("Manage Persons","index","Person")
</div>